body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #484872; 
}


.button-container {
    text-align: center; 
}

.button {
    display: inline-block;
    padding: 12px 24px; 
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: linear-gradient(#0ea5ea, #0bd1d1);
    color: white;
    text-align: center;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 10px;
}


.button:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; 
    border-radius: 5px;
}

fieldset {
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"],
select,
datalist {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #484872; 
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="color"] {
    vertical-align: middle;
    margin-bottom: 10px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}


input[type="radio"]:checked + .season-label:before {
    background-color: blue;
}

small {
    color: #666; 
}

input[type="checkbox"] {
    display: none;
}

label {
    cursor: pointer;
    display: inline-block; 
    padding-left: 25px; 
    position: relative;
}


input[type="checkbox"] + label:before {
    content: "";
    display: inline-block;
    width: 10px; 
    height: 10px;
    border: 1px solid #484872; 
    background-color: white; 
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); 
}


input[type="checkbox"]:checked + label:before {
    background-color: #484872; 
}


input[type="submit"] {
    background-color: #484872;
    color: white;
    padding: 10px 20px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    display: block;
    margin: 0 auto;
}


input[type="submit"]:hover {
    background-color: #9347ce;
}



@media screen and (max-width: 600px) {
    form {
        padding: 10px;
    }
}

